{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Miracle's blog</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div>
        <header>
            <div class="nav-left">
            <h1>
                <a href="{% url 'blogapphome' %}">Personal Thoughts</a>
            </h1>
        </div>
            <div class='nav-right'>
        <a href="{% url 'blogappcreatepost' %}">+ New Post</a>
        </div>
        </header>
        {% if user.is_authenticated %}
        <p>
            Hi {{ user.username }}!
            <a href="{% url 'logout' %}">Log Out</a>
        </p>
        {% else %}
        <p>
            You are not logged in!
        </p>
        <a href="{% url 'accountsappsignup' %}">Sign Up</a>|
        <a href="{% url 'login' %}">Log In</a>
       
        {% endif %}
            {% block content %}
            
            {% endblock content %}
    </div>
</body>
</html>